<div class="contacto">
    <div class="container">
        <h2>Contacto</h2>
        <p>
            Gracias por visitar nuestra página. Si tienes alguna pregunta,
            comentario o sugerencia, no dudes en ponerte en contacto con
            nosotros a través de nuestras redes sociales o numeros de contacto.
        </p>
        <h3>Información de Contacto:</h3>
        <ul>
            <li><strong>Teléfono:</strong> 09941835XX</li>
            <li><strong>Correo electrónico:</strong> info@example.com</li>
            <li><strong>Dirección:</strong>Cuenca-Ecuador </li>
        </ul>
        <div class="imagen">
            <p class="info">--Pagina Realizada como Proyecto Final de PPW Perido 63--</p>
            <img src="assets/logo-white.png">    
        </div>
    </div>
</div>


