/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .contenedor-usuario,
  .contenedor-productos {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .contenedor-usuario {
    margin-bottom: 20px;
  }
  
  h2 {
    color: black;
    text-align: center;
  }
  
  p {
    margin: 5px 0;
  }
  
  /* Botones */
  button {
    background-color: #dc3545; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Quita el borde */
    padding: 5px 10px; /* Ajusta el espaciado interno */
    border-radius: 4px; /* Redondea las esquinas */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Transición suave */
  }
  
  button:hover {
    background-color: #c82333; /* Color de fondo al pasar el cursor */
  }
  