<div class="contenedor-usuario">
    <h2>Información del Usuario</h2>
    <div *ngIf="!usuario" class="check">
        <p>No has iniciado sesión.</p>
        <p>Iniciado sesión, para realizar una compra :) </p>
        <button (click)="iniciarSesion()">Iniciar sesión</button>
    </div>
    <div *ngIf="usuario">
        <div><strong>Nombre:</strong> {{ usuario.nombre }}</div>
        <div><strong>Correo:</strong> {{ usuario.correo }}</div>
        <!-- Agrega más campos según la información que desees mostrar -->
    </div>
</div>
<div class="contenedor-productos">
    <h2>Carrito de Compras</h2>
    <ul *ngIf="productosEnCarrito.length > 0">
        <li *ngFor="let productoAgrupado of agruparProductos()">
            <h3>{{ productoAgrupado.producto.nombre }}</h3>
            <p>Precio: {{ productoAgrupado.producto.precio }}</p>
            <p>Cantidad: {{ productoAgrupado.cantidad }}</p>
            <button class="botonDelete" (click)="eliminarProducto(productoAgrupado.producto)">Eliminar</button>
        </li>
    </ul>
    <div *ngIf="productosEnCarrito.length === 0" class="check">
        <p>No hay productos en el carrito.</p>
    </div>
</div>

<div class="total-container">
    <h3>Total de la compra: </h3>
    <h2>${{ calcularTotal() }}</h2>
    <button *ngIf="usuario" (click)="realizarCompra()" >Comprar</button> 
  </div>