/* Estilos para la página del carrito de compras */
h2 {
    color: black;
    text-align: center;
    padding-top: 2%; 
  }
  
  ul {
    list-style-type: none;
    padding: 0 2%;
  }
  
  li {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  p {
    margin: 5px 0;
  }
  
  .contenedor {
    background-color: #f5f5f5;
    color: black;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
  }

  .eliminar-btn {
    float: right;
    margin-top: auto;
  }
  /* Estilo para el botón de eliminar en el carrito */
button {
    background-color: #dc3545; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Quita el borde */
    padding: 5px 10px; /* Ajusta el espaciado interno */
    border-radius: 4px; /* Redondea las esquinas */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Transición suave */
  }
  
  /* Estilo para el botón de eliminar al pasar el cursor */
  button:hover {
    background-color: #c82333; /* Color de fondo al pasar el cursor */
  }
  
  