<div class="usuario-container">
  <div class="usuario-header">
    <h2>Perfil de Usuario</h2>
    <button class="boton logout-btn" (click)="logout()">LogOut</button>
  </div>
  
  <div class="usuario-info" *ngIf="usuario">
    <div><strong>Nombre:</strong> {{ usuario.nombre }}</div>
    <div><strong>Correo:</strong> {{ usuario.correo }}</div>
    <div><strong>Código:</strong> {{ usuario.codigo }}</div>
    <!-- Agrega aquí más campos según la información que desees mostrar -->

    <!-- Mostrar facturas del usuario -->
    <div class="facturas-container" *ngIf="facturas.length > 0">
      <h3>Facturas:</h3>
      <ul>
        <li *ngFor="let factura of facturas">
          <!-- Muestra los detalles de la factura aquí -->
          <div><strong>Número:</strong> {{ factura.id }}</div>
          <div><strong>Fecha:</strong> {{ factura.fecha }}</div>
          <div><strong>Total:</strong> {{ factura.total }}</div>
        </li>
      </ul>
    </div>
    <div *ngIf="facturas.length === 0">
      <p>No hay facturas disponibles para mostrar.</p>
    </div>
  </div>
  
  <!-- Nuevo div para centrar el botón del carrito -->
  <div class="carrito-btn-container">
    <button class="boton" (click)="irACarrito()">Carrito</button> <!-- Botón para ir al carrito -->
  </div>
</div>
