<div class="factura-container">
    
    <div class="fecha-actual">
        <h2>Factura</h2>
        <p>Fecha: {{ fechaActual }}</p>
    </div>
    <div class="usuario-info">
        <h3>Datos del Usuario:</h3>
        <p>Nombre: {{ usuario?.nombre }}</p>
        <p>Correo: {{ usuario?.correo }}</p>
        <!-- Agrega más campos según sea necesario -->
    </div>
    <div class="productos-info">
        <h3>Productos Comprados:</h3>
        <ul>
            <li *ngFor="let item of productosEnFactura">
                <span>{{ item.producto.nombre }}</span>
                <span>Cantidad: {{ item.cantidad }}</span>
                <span *ngIf="item.producto.precio !== undefined">Precio Unitario: {{ item.producto.precio }}</span>
                <span *ngIf="item.producto.precio !== undefined">Total: {{ calcularTotalProducto(item) }}</span>
            </li>
        </ul>
    </div>
    <div class="total">
        <h3>Total de la Factura: {{ calcularTotalFactura() }}</h3>
    </div>
    <button (click)="confirmarCompra()">Confirmar Compra</button>
</div>
