<div class="container">
    <nav>
        <div class="logo">
            <a href="/">
                <img src="assets/logo-white.png" alt="Logo">
            </a>
        </div>
        <ul class="menu">
            <li><a routerLink="/Inicio">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
        <div class="menu-icon">
            <img src="assets/menu-white.png" alt="Menu Icon">
        </div>
    </nav>
</div>
<router-outlet></router-outlet>