/* Estilos para la página de productos */
h2 {
    color: white;
    text-align: center;
    padding-top: 2%; 
}

ul {
    list-style-type: none;
    padding: 0 2%;

}

li {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

p {
    margin: 5px 0;
}

.line {
    width: 100%;
    border-bottom: 1px solid white; /* Grosor, estilo y color de la línea */
    margin: 20px 0; /* Margen superior e inferior para separar los elementos */
}
.contenedor{
    background-color: black;
    color: white;
    flex: 2; /* El contenedor ocupará la mitad izquierda */
}
button {
    background-color:aqua; /* Color de fondo */
    color: #424242; /* Color del texto */
    border: none; /* Quita el borde */
    padding: 5px 10px; /* Ajusta el espaciado interno */
    border-radius: 4px; /* Redondea las esquinas */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Transición suave */
  }
  
  /* Estilo para el botón de eliminar al pasar el cursor */
  button:hover {
    background-color: green; /* Color de fondo al pasar el cursor */
    color: white;
  }
  .historial {
    top: 0; /* Alinea el elemento en la parte superior */
    right: 5%; /* Ajusta el margen derecho */
    background-color: #ccc;
    border: 1px solid black; /* Asegúrate de especificar el estilo del borde */
    padding: 10px; /* Añade un poco de espacio interno */
    flex: 1; /* El historial ocupará la mitad derecha */
    margin: 1% 2%;
}

.global {
    display: flex; /* Utiliza el modelo de caja flexible */
}
.mi-boton {
    background-color: aqua;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block; /* Cambiamos a bloque para que el margen automático funcione */
    font-size: 16px;
    margin: 0 auto; /* Margen automático horizontal */
    cursor: pointer;
    border-radius: 8px;
  }

  /*SEARCH STYLE*/
  /* Estilos para el cuadro de búsqueda */
.busqueda {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .busqueda input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    margin-right: 10px;
  }
  
  .busqueda button {
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    color: black;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .busqueda button:hover {
    background-color: #45a049;
  }
  
  /* Estilos para el resultado de la búsqueda */
  .resultado-busqueda {
    margin-top: 20px;
    color: white;
  }
  
  .resultado-busqueda ul {
    list-style-type: none;
    padding: 0;
    color: #424242;
  }
  
  .resultado-busqueda ul li {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  
  
