.contenedor {
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    border: 2px solid black; /* Borde del contenedor */
    padding: 20px;
    box-sizing: border-box; /* Incluye el padding en el ancho del contenedor */
}

.content {
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.content h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.content .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.content .button:hover {
    background-color: #0056b3;
}

.banner {
    text-align: center; /* Centra horizontalmente la imagen */
}

.banner img {
    max-width: 100%; /* Hace que la imagen sea responsiva */
    height: auto;
    display: block; /* Elimina el espacio debajo de la imagen */
    margin-top: 20px; /* Espacio entre el texto y la imagen */
}
