<body>
    <div class="app-component">
        <img class="imagen" src="assets\back1.jpeg" alt="Fondo">
        <div class="texto-sobre-imagen">
            <p>¡Desata el poder del  </p>
            <p class="line">Rendimiento Instantaneo!</p>
            
            <div class="contenedor">
                <p>Eleve tu experiencia con nuestras SSD M.2</p>
                <p style="text-indent: 70px;">Y RAM de última generación.</p>
                <br>
                <p style="text-indent: 90px;">Navega por nuestra página  </p>
                <p style="text-indent: 110px;">Y potencia tu equipo,</p>
                <p style="text-indent: 160px;">Hoy mismo.</p>
            </div>
            
        </div>
    </div>
    <a href="/productos" class="boton">Ver productos</a>
</body>
